*{
    margin: 0%;
    padding: 0%;
}

.barra-nav{
    box-sizing: border-box;
    float:right;

}
.lista-nav{
    display: flex;
    flex-direction: row;
}  
#li-nav{
    padding: 7px;
    margin: 2px;
    font-family: arial,sans-serif;
    font-size: 14px;
    text-align: center;
    color: rgba(0,0,0,0.87);
    list-style: none;
}

#li-nav:hover{
    text-decoration: underline;
}

.imagen-logo{
    display: block;
}
