*{
    margin: 0%;
    padding: 0%;
}

.barra-nav{
    box-sizing: border-box;

}
.lista-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}  

#li-nav{
    padding: 7px;
    margin: 2px;
    font-family: arial,sans-serif;
    font-size: 14px;
    text-align: center;
    color: rgba(0,0,0,0.87);
    list-style: none;
}

#li-nav:hover{
    text-decoration: underline;
}
#homero-pija{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.imagen-logo{
    display: flex;
    padding-top: 17%;
    justify-content: center;
}
.box{
    margin: 100px auto;
    width: 300px;
    height: 50px;
}
.container-1{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}
.container-1 .icon{
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: rgba(0,0,0,0.87);
}
  .container-1 input#search{
    width: 600px;
    height: 50px;
    background: #white;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
}

  .container-1 input#search::-webkit-input-placeholder {
    color: #65737e;
 }
  
 .container-1 input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;  
 }
  
 .container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
 }
  
 .container-1 input#search:-ms-input-placeholder {  
    color: #65737e;  
 }

#input-text{
    border:none;
}
