*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

body{
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
    height: auto;
    width: auto;
}

.barra-nav {
    display: flex;
    align-items: center;
    padding: 6px;
    height: 60px;
}
.google-logo{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
    height: 92px;
    aspect-ratio: auto 272 / 92;
}

.parte-footer .argentina{
    background: #f2f2f2;
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    color: rgba(0,0,0, .54)
}

.parte-footer .footer {
    color: #70757a;
    display: block;
    padding: 15px;
    white-space: nowrap;
    text-decoration: none;
}

