*{
    margin: 0%;
    padding: 0%;
}

.barra-nav{
    box-sizing: border-box;
}
.lista-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}  

#li-nav{
    padding: 7px;
    margin: 2px;
    font-family: arial,sans-serif;
    font-size: 14px;
    text-align: center;
    color: rgba(0,0,0,0.87);
    list-style: none;
    margin-top: 20px;
}

#li-nav:hover{
    text-decoration: underline;
}
#homero-pija{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.imagen-logo{
    display: flex;
    padding-top: 17%;
    justify-content: center;
}
.box{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-radius: 25px;
    border: 1px solid lightgrey;
    margin: 40px auto;
    width: 600px;
    height: 50px;
}
.container-1{
    
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}
.container-1 .icon{
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: rgba(0,0,0,0.87);
}
  .container-1 input#search{
    width: 600px;
    height: 50px;
    background: #white;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
}

  .container-1 input#search::-webkit-input-placeholder {
    color: #65737e;
 }
  
 .container-1 input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;  
 }
  
 .container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
 }
  
 .container-1 input#search:-ms-input-placeholder {  
    color: #65737e;  
 }

#input-text{
    border:none;
}
.botones-low-searchbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btn {
    color: #3c4043;
    background: transparent;
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
    font: arial;
    text-align: center;
}

.btn:hover{
    border: 1px solid lightgrey;
}

#ofrecido{
    display: block;
    text-align: center;
    padding-top: 10px;
    color: #3c4043;
    font-family: Arial, Helvetica, sans-serif;
    width: auto ;
    font-size: smaller;
    height: 200px;
}

#ofrecido a{
    text-decoration: none;
}

#Argendiva{
    border-bottom: 1px solid rgb(201, 199, 199);
}
#Argentina {
    color:  #65737e; 
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    margin-bottom: 7px;
    font-size: 18px;
}

.primeros3{
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
}
.ultimos2{
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    
}
.anchor{
    text-decoration: none;
    color:  #70757a;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin: 10px 15px;
}
.anchor:hover{
    text-decoration: underline;
}